@page
@model Doctor_Attendance.Pages.S.Doctors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Doctor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.DoctorId" />
            <div class="form-group">
                <label asp-for="Doctor.Category" class="control-label"></label>
                <select asp-for="Doctor.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Doctor.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Firstname" class="control-label"></label>
                <input asp-for="Doctor.Firstname" class="form-control" />
                <span asp-validation-for="Doctor.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Lastname" class="control-label"></label>
                <input asp-for="Doctor.Lastname" class="form-control" />
                <span asp-validation-for="Doctor.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Age" class="control-label"></label>
                <input asp-for="Doctor.Age" class="form-control" />
                <span asp-validation-for="Doctor.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Email" class="control-label"></label>
                <input asp-for="Doctor.Email" class="form-control" />
                <span asp-validation-for="Doctor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.City" class="control-label"></label>
                <input asp-for="Doctor.City" class="form-control" />
                <span asp-validation-for="Doctor.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}