@page
@model Doctor_Attendance.Pages.S.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container registration-container">
    <h1>Register</h1>
    <form method="post">
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="text" id="Username" name="Username" class="form-control input-short" />
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" id="Password" name="Password" class="form-control input-short" />
        </div>
        <div class="mb-3 checkbox-container">
            <label class="form-check-label">Role:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="DoctorRole" name="Role" value="Doctor" />
                <label class="form-check-label" for="DoctorRole">Doctor</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="SecretaryRole" name="Role" value="Secretary" />
                <label class="form-check-label" for="SecretaryRole">Secretary</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
